<div class="page-wrap">
  <div class="side-bar">
    <a href="" class="site-title fs-6 lh-tight">@silmar/ng-lazy-images</a>
    <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button"
                               data-text-toggle="Hide">Menu</button></span>
    <div class="navigation main-nav js-main-nav">
      <nav role="navigation" aria-label="Main navigation">
        <ul class="navigation-list">
          <li class="navigation-list-item active">
            <a href="#getting-started" class="navigation-list-link">Getting Started</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex1" class="navigation-list-link">Basic Usage</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex2" class="navigation-list-link">Use on Parent Element</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex3" class="navigation-list-link">Use *ngFor</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex4" class="navigation-list-link">Background images</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex5" class="navigation-list-link">Thumbor/ImageKit component</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex6" class="navigation-list-link">Events</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#ex7" class="navigation-list-link">Lazy Content</a>
          </li>
        </ul>
      </nav>

    </div>
    <footer role="contentinfo" class="site-footer">
      <p class="text-small text-grey-dk-000 mb-0">This site uses <a
        href="https://github.com/pmarsceill/just-the-docs">Just the Docs</a>, a documentation theme for
        Jekyll.</p>
    </footer>
  </div>
  <div class="main-content-wrap js-main-content" tabindex="0">
    <div class="page-header">
      <div class="main-content">
        <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
          <li class="d-inline-block my-0"><a href="https://gitlab.com/etg-public/silmar-ng-lazy-images">The
            project on Gitlab</a></li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div id="main-content" class="page-content" role="main">
        <h1 class="fs-9">Silmar-NgLazyImages</h1>

        <p class="fs-6 fw-300">Simple and easy to use lazy image loading directive for Angular 6+.</p>

        <p><a href="#getting-started" class="btn btn-primary fs-5 mb-4 mb-md-0 mr-2">Get started now</a> <a
          href="https://gitlab.com/etg-public/silmar-ng-lazy-images" class="btn fs-5 mb-4 mb-md-0">View it
          on Gitlab</a></p>

        <!-- Getting Started -->
        <h2 id="getting-started">Getting started</h2>

        <h3 id="dependencies">Dependencies</h3>

        <p>NgLazyImages is built with @angular/cli and has no other dependencies (exept Angular itself :) ).</p>

        <ol>
          <li>To install the package:
            <pre><code class="shell">{{txt['install']}}</code></pre>
          </li>

          <li>Import the module in your AppModule
            <pre><code class="typescript">{{txt['module']}}</code></pre>
          </li>

          <li>Use in your templates
            <pre><code class="html">{{txt['ex1']}}</code></pre>
          </li>

          <li>The package uses <code>IntersectionObserver</code> and <code>MutationObserver</code>, both are
            not available pre IE 11 - in this case the lib will fall-back to <b>immediate image loading</b>.
            If you want to support old browsers you can use these polyfills:
            <ul>
              <li><a href="https://cdn.polyfill.io/v2/polyfill.js?features=MutationObserver">MutationObserver</a>
              </li>
              <li>
                <a href="https://cdn.polyfill.io/v2/polyfill.js?features=IntersectionObserver">IntersectionObserver</a>
              </li>
            </ul>
          </li>

          <li><span class="label label-green">TIP</span> You can safely use this package with
            <code>@angular/universal</code>,
            the library will simply not run on the server side
          </li>
        </ol>

        <!-- Usage -->
        <h2 id="Usage">Usage</h2>

        <!-- First example: Basic Usage-->
        <h3 id="ex1">Basic Usage</h3>
        <p>Using the directive directly with the image</p>
        <pre><code class="html">{{txt['ex1']}}</code></pre>
        <img data-src="http://img.photobucket.com/albums/v642/shakespeares_sister/shakes5/squirrel.jpg"
             siLazyImages/>

        <!-- Second example: Use on parent -->
        <h3 id="ex2">Use on Parent</h3>
        <p>Using the directive on parent container, this will lazy load all nested images</p>
        <pre><code class="html">{{txt['ex2']}}</code></pre>
        <div siLazyImages>
          <div>
            <img data-src="https://secure.i.telegraph.co.uk/multimedia/archive/02384/squirrel-michelang_2384189k.jpg"/>
          </div>
          <div><img
            data-src="https://images.unsplash.com/photo-1509307602489-ee74fee4a97c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80"/>
          </div>
        </div>

        <!-- Third example: *ngFor -->
        <h3 id="ex3">Use *ngFor</h3>
        <p>Use an <code>*ngFor</code> to lazy load the images.</p>
        <pre><code class="html">{{txt['ex3']}}</code></pre>
        <div class="columns" siLazyImages>
          <ng-container *ngIf="showLazyImgs">
            <div class="column" *ngFor="let lazy of lazyImgs">
              <img [attr.data-src]="lazy" style="max-height: 300px;"/>
            </div>
          </ng-container>
        </div>

        <!-- Fourth example: Background -->
        <h3 id="ex4">Background images</h3>
        <p>You can lazy load background images.</p>
        <pre><code class="html">{{txt['ex4']}}</code></pre>
        <div class="columns bgr" siLazyImages style="height: 450px;">
          <div class="column"
               data-background-src="https://i.pinimg.com/originals/71/b1/22/71b122da439bf6a5509ef55a75c7c15c.jpg">
            &nbsp;
          </div>
          <div class="column"
               data-background-src="https://i.pinimg.com/originals/2f/e6/32/2fe632acdf7892da603eeb6508dbafdd.jpg">
            &nbsp;
          </div>
        </div>

        <!-- Fifth example: Background -->
        <h3 id="ex5">Lazy loaded Thumbor Picture/Image</h3>
        <p>If you use our <a
          href="https://etg-public.gitlab.io/silmar-ng-core/#thumbor">Thumbor</a> or <a
          href="https://etg-public.gitlab.io/silmar-ng-core/#imagekit">ImageKit</a>
          components you can combine it with lazy loading.</p>
        <pre><code class="html">{{txt['ex5']}}</code></pre>
        <img siLazyImages siThumbor="expobeds.com/expo_beds_logo.png" [width]="200" [height]="200" [x2]="true"
             [useDataSrc]="true"/>&nbsp;
        <si-thumbor-picture siLazyImages path="expobeds.com/expo_beds_logo.png" [x2]="true"
                            [useDataSrc]="true"
                            [bySize]="{'phone':100,'(max-width: 1060px)':'150x100', 'hd':200, 'fullhd': 250}"
                            [set1pxOnLazy]="true"></si-thumbor-picture>
        <p><span class="label label-yellow">NOTE</span> With the <code>si-thumbor-picture</code> component the
          classes <code>.nli-done</code> etc. have no effect</p>

        <!-- Sixth example: Events -->
        <h3 id="ex6">Events</h3>
        <p>You can listen for load and loading events. The <strong>load</strong> event fires when the lazy loaded image
          has finished loading and the <strong>loading</strong> event fires when the loading of an image starts</p>
        <p>Both events will pass an object containing the image that is being loaded or has finished loading</p>
        <pre><code class="javascript">{{'{'}}
          target: Image
}</code></pre>
        <pre><code class="html">{{txt['ex6']}}</code></pre>
        <div class="columns">
          <div class="column">
            <img
              data-src="https://upload.wikimedia.org/wikipedia/commons/f/fc/American_pika_%28ochotona_princeps%29_with_a_mouthful_of_flowers.jpg"
              style="max-height: 300px;" siLazyImages (loaded)="onImageLoad($event)"/>
          </div>
          <div class="column">
            <img data-src="https://s.hdnux.com/photos/43/41/14/9311035/3/920x920.jpg" siLazyImages
                 style="max-height: 300px;" (loading)="onImageLoading($event)"/>
          </div>
        </div>

        <!-- Seventh example: Lazy Content -->
        <h3 id="ex7">Lazy Content</h3>
        <p>If you want to load some external content (or do anything else really) you can use the siLazyContent
          directive that will fire an event once the DOM element is about to enter the viewport. It is just a simple
          wrapper around the IntersectionObserver</p>
        <p><strong>Important:</strong> by default the <code>once</code> input is true so the "visible" event will fire
          only once after that the observers will be destroyed. If you want the event to fire every time teh div is
          visible, then pass false to the input</p>
        <p>The event will pass one parameter:</p>
        <pre><code class="javascript">{{'{'}}
          target: Node
}</code></pre>

        <pre><code class="html">{{txt['ex7']}}</code></pre>

        <div class="columns" siLazyContent (visible)="onDivVisible($event)">
          &nbsp;
        </div>

        <!-- END OF EXAMPLES -->
        <hr>

        <h2 id="about-the-project">About the project</h2>

        <p>@silmar/ng-lazy-images is developed by the small but fierce :) development team of <a
          href="https://www.expobeds.com">Expo Travel Group</a>.</p>

        <h3 id="license">License</h3>

        <p>This project is distributed under <a
          href="https://gitlab.com/etg-public/silmar-ng-lazy-images/blob/master/LICENSE">MIT license</a>.
        </p>
      </div>
    </div>
  </div>
</div>




