img.nli {
  transition: opacity ease-out 1s;
}
img.nli-wait {
  border: 1px solid grey;
  opacity: 0;
}
img.nli-loading {
  border: 1px solid orange;
  opacity: 0;
}
img.nli-done {
  border: 1px solid green;
  opacity: 1;
}

.columns {
  display: flex;
  flex: 1;

  .column {
    flex: 1;
  }
}

img {
  max-height: 400px;
}

.bgr div {
  background-size: cover;
}
